In [2]:
import numpy as np
import pandas as pd

## Preprocess Input

In [123]:
df = pd.read_csv('../data/raw_data.csv')
print('BEFORE:')
df.info()
df.drop(columns='Unnamed: 21', inplace=True)
df.rename(columns=lambda x: x.strip(), inplace=True)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
print('\nAFTER:')
df.info()
df.to_csv('../data/preprocessed_data.csv', encoding='utf-8', index=False)

BEFORE:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73282 entries, 0 to 73281
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 73282 non-null  int64
 1    month               73282 non-null  int64
 2   carrier              73282 non-null  object
 3   carrier_name         73282 non-null  object
 4   airport              73282 non-null  object
 5   airport_name         73282 non-null  object
 6   arr_flights          73240 non-null  float64
 7   arr_del15            73211 non-null  float64
 8   carrier_ct           73240 non-null  float64
 9    weather_ct          73240 non-null  float64
 10  nas_ct               73240 non-null  float64
 11  security_ct          73240 non-null  float64
 12  late_aircraft_ct     73240 non-null  float64
 13  arr_cancelled        73240 non-null  float64
 14  arr_diverted         73240 non-null  float64
 15   arr_delay           73240 non-null  float64
 16   carrier_delay       73240 non-null  float64
 17  weather_delay        73240 non-null  float64
 18  nas_delay            73240 non-null  float64
 19  security_delay       73240 non-null  float64
 20  late_aircraft_delay  73240 non-null  float64
 21  Unnamed: 21          0 non-null      float64
dtypes: float64(16), int64(2), object(4)
memory usage: 12.3+ MB

AFTER:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73211 entries, 0 to 73210
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 73211 non-null  int64
 1   month                73211 non-null  int64
 2   carrier              73211 non-null  object
 3   carrier_name         73211 non-null  object
 4   airport              73211 non-null  object
 5   airport_name         73211 non-null  object
 6   arr_flights          73211 non-null  float64
 7   arr_del15            73211 non-null  float64
 8   carrier_ct           73211 non-null  float64
 9   weather_ct           73211 non-null  float64
 10  nas_ct               73211 non-null  float64
 11  security_ct          73211 non-null  float64
 12  late_aircraft_ct     73211 non-null  float64
 13  arr_cancelled        73211 non-null  float64
 14  arr_diverted         73211 non-null  float64
 15  arr_delay            73211 non-null  float64
 16  carrier_delay        73211 non-null  float64
 17  weather_delay        73211 non-null  float64
 18  nas_delay            73211 non-null  float64
 19  security_delay       73211 non-null  float64
 20  late_aircraft_delay  73211 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 11.7+ MB

## Save airport information

In [124]:
fn_city = lambda x: x.split(':')[0].split(',')[0]
fn_state = lambda x: x.split(':')[0].split(',')[1]
fn_name = lambda x: x.split(':')[1]

df_airports = df[['airport','airport_name']].drop_duplicates('airport_name')
df_airports['city'] = df_airports['airport_name'].apply(fn_city)
df_airports['state'] = df_airports['airport_name'].apply(fn_state)
df_airports['name'] = df_airports['airport_name'].apply(fn_name)
df_airports.rename(columns={'airport':'code'},inplace=True)
df_airports = df_airports[['code','city','state','name']].sort_values('city').reset_index(drop=True)

coords = np.array([
    ['Hartsfield-Jackson Atlanta International',33.640411,-84.419853],
    ['Baltimore/Washington International Thurgood Marshall',39.1774,-76.6684],
    ['Logan International',42.366978,-71.022362],
    ['Charlotte Douglas International',35.213890,-80.943054],
    ['Chicago Midway International',41.7868,-87.7522],
    ["Chicago O'Hare International",41.978611,-87.904724],
    ['Dallas/Fort Worth International',32.897480,-97.040443],
    ['Denver International',39.849312,-104.673828],
    ['Detroit Metro Wayne County',42.2162,-83.3554],
    ['Fort Lauderdale-Hollywood International',26.0742,-80.1506],
    ['Daniel K Inouye International',21.3186,-157.9253],
    ['George Bush Intercontinental/Houston',29.9902,-95.3368],
    ['McCarran International',36.086010,-115.153969],
    ['Los Angeles International',33.942791,-118.410042],
    ['Miami International',25.7969,-80.2762],
    ['Minneapolis-St Paul International',44.8848,-93.2223],
    ['LaGuardia',40.7769,-73.8740],
    ['John F. Kennedy International',40.641766,-73.780968],
    ['Newark Liberty International',40.6895,-74.1745],
    ['Orlando International',28.4179,-81.3041],
    ['Philadelphia International',39.8729,-75.2437],
    ['Phoenix Sky Harbor International',33.4352,-112.0101],
    ['Portland International',45.5898,-122.5951],
    ['Salt Lake City International',40.7899,-111.9791],
    ['San Diego International',32.7338,-117.1933],
    ['San Francisco International',37.6213,-122.3790],
    ['Seattle/Tacoma International',47.4502,-122.3088],
    ['Tampa International',27.9772,-82.5311],
    ['Washington Dulles International',38.9531,-77.4565],
    ['Ronald Reagan Washington National',38.8512,-77.0402]
])

df_coords = pd.DataFrame(data=coords,columns=['name','lat','lon'])
df_airports = pd.merge(df_airports, df_coords, on='name', left_index=True, right_index=True)

display(df_airports)
df_airports.to_csv('../data/airport_info.csv', encoding='utf-8', index=False)

,code,city,state,name,lat,lon
0,ATL,Atlanta,GA,Hartsfield-Jackson Atlanta International,33.640411,-84.419853
1,BWI,Baltimore,MD,Baltimore/Washington International Thurgood M...,39.1774,-76.6684
2,BOS,Boston,MA,Logan International,42.366978,-71.022362
3,CLT,Charlotte,NC,Charlotte Douglas International,35.21389,-80.943054
4,MDW,Chicago,IL,Chicago Midway International,41.7868,-87.7522
5,ORD,Chicago,IL,Chicago O'Hare International,41.978611,-87.904724
6,DFW,Dallas/Fort Worth,TX,Dallas/Fort Worth International,32.89748,-97.040443
7,DEN,Denver,CO,Denver International,39.849312,-104.673828
8,DTW,Detroit,MI,Detroit Metro Wayne County,42.2162,-83.3554
9,FLL,Fort Lauderdale,FL,Fort Lauderdale-Hollywood International,26.0742,-80.1506
10,HNL,Honolulu,HI,Daniel K Inouye International,21.3186,-157.9253
11,IAH,Houston,TX,George Bush Intercontinental/Houston,29.9902,-95.3368
12,LAS,Las Vegas,NV,McCarran International,36.08601,-115.153969
13,LAX,Los Angeles,CA,Los Angeles International,33.942791,-118.410042
14,MIA,Miami,FL,Miami International,25.7969,-80.2762
15,MSP,Minneapolis,MN,Minneapolis-St Paul International,44.8848,-93.2223
16,LGA,New York,NY,LaGuardia,40.7769,-73.874
17,JFK,New York,NY,John F. Kennedy International,40.641766,-73.780968
18,EWR,Newark,NJ,Newark Liberty International,40.6895,-74.1745
19,MCO,Orlando,FL,Orlando International,28.4179,-81.3041
20,PHL,Philadelphia,PA,Philadelphia International,39.8729,-75.2437
21,PHX,Phoenix,AZ,Phoenix Sky Harbor International,33.4352,-112.0101
22,PDX,Portland,OR,Portland International,45.5898,-122.5951
23,SLC,Salt Lake City,UT,Salt Lake City International,40.7899,-111.9791
24,SAN,San Diego,CA,San Diego International,32.7338,-117.1933
25,SFO,San Francisco,CA,San Francisco International,37.6213,-122.379
26,SEA,Seattle,WA,Seattle/Tacoma International,47.4502,-122.3088
27,TPA,Tampa,FL,Tampa International,27.9772,-82.5311
28,IAD,Washington,DC,Washington Dulles International,38.9531,-77.4565
29,DCA,Washington,DC,Ronald Reagan Washington National,38.8512,-77.0402

## Save carrier information

In [125]:
df_airlines = df[['carrier','carrier_name']].drop_duplicates('carrier_name')
df_airlines.rename(columns={'carrier':'code','carrier_name':'name'},inplace=True)
df_airlines = df_airlines[['code','name']].sort_values('name').reset_index(drop=True)

subset = df[['year','carrier_name']].sort_values('year').drop_duplicates(subset=['year', 'carrier_name'], keep='last')

years = []
for i in df_airlines['name'].values:
    ss = subset.where(s['carrier_name']==i).dropna()['year'].values.astype(int)
    years.append(','.join(map(str, ss)))
    
df_airlines['years'] = years

display(df_airlines)
df_airlines.to_csv('../data/carrier_info.csv', encoding='utf-8', index=False)

,code,name,years
0,TZ,ATA Airlines d/b/a ATA,"2003,2004,2005,2006"
1,FL,AirTran Airways Corporation,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
2,AS,Alaska Airlines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
3,G4,Allegiant Air,"2018,2019,2020"
4,AQ,Aloha Airlines Inc.,"2006,2007,2008"
5,HP,America West Airlines Inc.,"2003,2004,2005"
6,AA,American Airlines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
7,MQ,American Eagle Airlines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
8,DH,Atlantic Coast Airlines,"2003,2004"
9,EV,Atlantic Southeast Airlines,"2003,2004,2005,2006,2007,2008,2009,2010,2011"
10,OH,Comair Inc.,"2004,2005,2006,2007,2008,2009,2010"
11,CO,Continental Air Lines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011"
12,DL,Delta Air Lines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
13,9E,Endeavor Air Inc.,"2013,2018,2019,2020"
14,MQ,Envoy Air,"2014,2015,2018,2019,2020"
15,XE,ExpressJet Airlines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
16,EV,ExpressJet Airlines LLC,"2019,2020"
17,F9,Frontier Airlines Inc.,"2005,2006,2007,2008,2009,2010,2011,2012,2013,2..."
18,HA,Hawaiian Airlines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
19,DH,Independence Air,"2004,2005"
20,B6,JetBlue Airways,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
21,YV,Mesa Airlines Inc.,"2006,2007,2008,2009,2010,2011,2012,2013,2018,2..."
22,NW,Northwest Airlines Inc.,"2003,2004,2005,2006,2007,2008,2009"
23,OH,PSA Airlines Inc.,"2018,2019,2020"
24,9E,Pinnacle Airlines Inc.,"2007,2008,2009,2010,2013"
25,YX,Republic Airline,"2018,2019,2020"
26,OO,SkyWest Airlines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
27,WN,Southwest Airlines Co.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
28,NK,Spirit Air Lines,"2015,2016,2017,2018,2019,2020"
29,US,US Airways Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
30,UA,United Air Lines Inc.,"2003,2004,2005,2006,2007,2008,2009,2010,2011,2..."
31,VX,Virgin America,"2012,2013,2014,2015,2016,2017,2018"

## Save inputs and outputs for forecasting model

In [8]:
df_for_training = pd.merge(df,df_airports,left_on='airport',right_on='code')
df_for_training.drop(columns=['code','airport_name','carrier','airport'],inplace=True)
df_for_training.rename(columns={'arr_del15':'arr_delay_ct','name':'airport_name','city':'airport_city','state':'airport_state','lat':'airport_lat','lon':'airport_lon'},inplace=True)
df_for_training['carrier_name'] = df_for_training['carrier_name'].apply(lambda x: x.strip())
df_for_training['airport_name'] = df_for_training['airport_name'].apply(lambda x: x.strip())

carrier_names = np.unique(df_for_training['carrier_name'].values)
airport_names = np.unique(df_for_training['airport_name'].values)

x = pd.DataFrame()
y = pd.DataFrame()

y['carrier_delay_prob'] = df_for_training['carrier_ct']/df_for_training['arr_flights']
y['nas_delay_prob'] = df_for_training['nas_ct']/df_for_training['arr_flights']

y['carrier_delay'] = df_for_training['carrier_delay']/df_for_training['carrier_ct']
y['nas_delay'] = df_for_training['nas_delay']/df_for_training['nas_ct']

y.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

x['year'] = df_for_training['year']
x['month'] = df_for_training['month']
x['airport_name'] = df_for_training['airport_name']
x['carrier_name'] = df_for_training['carrier_name']

print('INPUTS:')
x.info()
print('\nOUTPUTS:')
y.info()

x.to_csv('../data/model_inputs.csv', encoding='utf-8', index=False)
y.to_csv('../data/model_outputs.csv', encoding='utf-8', index=False)

INPUTS:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73211 entries, 0 to 73210
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          73211 non-null  int64
 1   month         73211 non-null  int64
 2   airport_name  73211 non-null  object
 3   carrier_name  73211 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.8+ MB

OUTPUTS:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73211 entries, 0 to 73210
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   carrier_delay_prob  73211 non-null  float64
 1   nas_delay_prob      73211 non-null  float64
 2   carrier_delay       73211 non-null  float64
 3   nas_delay           73211 non-null  float64
dtypes: float64(4)
memory usage: 2.8 MB